
.wrapper {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card {
  min-width: 150px;
  width: 160px;
  height: 250px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.item-card-container {
  margin:20px;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-height {
  display: flex;
  align-items: stretch;
}

.centering {
  display: flex;
  justify-content: center;
}
