<div class="container">
  <h1 style="text-align: center">
    Användarguide
  </h1>
  <mat-card-title>
    <h3>Mata in egen data eller hämta från en hälsoplattform?</h3>
  </mat-card-title>
  <mat-card-content>
    <p style="text-align: center">
      Har du inte tillgång till en hälsoplattform går det även bra att mata in
      dina mätvärden manuellt. Detta gör du genom att trycka på "Egen
      inmatning", som är mittenknappen på startsidan. Väljer du att mata in
      manuellt kommer du att hoppa direkt till <b>steg 2</b>.
    </p>
  </mat-card-content>

  <mat-card-title>
    <h3>Steg 1: Hämtning</h3>
  </mat-card-title>
  <mat-card-content>
    <p style="text-align: center">
      I detta steg börjar du med att välja den hälsoplattform du vill hämta data
      ifrån, vilket görs genom att trycka på ikonen för den plattformen. Efter
      att du loggat in på plattformen kommer du se vilka kategorier som finns
      tillgängliga till vänster i bild. Klicka i de kategorier som du vill dela
      med dig av, och välj även mellan vilka datum du vill hämta data från.
    </p>
  </mat-card-content>

  <mat-card-title>
    <h3>Steg 2: Redigering</h3>
  </mat-card-title>
  <mat-card-content>
    <p style="text-align: center">
      I detta steg kan du inspektera och redigera den hälsodata som finns
      tillgänglig för dig. Genom att trycka på kategorinamnet till vänster i
      bild så kommer all data för den kategorin att dyka upp. I tabellen kan du
      därefter lägga till ytterligare information och kommentarer om
      mätvärdena.  Vill du få en bättre översikt över dina mätvärden kan du
      nere i det högra hörnet ändra hur många mätvärden som ska synas per sida.
      Du kan även lägga till egna mätpunkter genom att trycka på "Lägg till
      datavärde" längst ned i bild. Skulle det vara så att du vill lägga till
      data i en kategori som inte fanns på den valda hälsoplattformen kan du
      lägga till denna kategori genom att trycka på "Lägg till kategori" till
      vänster i bild. Om du i efterhand vill hämta mer data, eller data från
      andra plattformar, så kan du trycka på "Hämta från plattform" till
      vänster i bild, under kategorinamnen. Du kommer då att omdirigeras till
      hämtningskärmen från <b>steg 1</b>.
    </p>
  </mat-card-content>

  <mat-card-title>
    <h3>Steg 3: Inspektion</h3>
  </mat-card-title>
  <mat-card-content>
    <p style="text-align: center">
      Här kan du utföra en slutgiltig inspektion av din hälsodata innan den
      skickas in till Region Östergötland. Du inspekterar datan genom att trycka
      på den kategorin du är intresserad av.
    </p>
  </mat-card-content>

  <mat-card-title>
    <h3>Steg 4: Skickat</h3>
  </mat-card-title>
  <mat-card-content>
    <p style="text-align: center">
      Nu är du klar, och din data är inskickad till Region Östergötland!
    </p>
  </mat-card-content>
</div>
