<div class="center">

<p>Kontrollera dina värden innan du skickar in till ***REMOVED***</p>

<div *ngFor="let category of categories">

  <div *ngIf="category=='blood pressure'">
  <!-- TODO, kom fram till om detta är en fullösning som behöver göras om eller inte -->
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Blodtryck</mat-panel-title>
        <mat-panel-description>Antal mätvärden: </mat-panel-description>
      </mat-expansion-panel-header>

      <table mat-table [dataSource]="dataSource" class="table">

        <!-- Systolic Column -->
        <ng-container matColumnDef="systolic">
          <th mat-header-cell *matHeaderCellDef> Systoliskt </th>
          <td mat-cell *matCellDef="let dataPoint"> {{dataPoint.systolic}} </td>
        </ng-container>
      
        <!-- Diastolic Column -->
        <ng-container matColumnDef="diastolic">
          <th mat-header-cell *matHeaderCellDef> Diastoliskt </th>
          <td mat-cell *matCellDef="let dataPoint"> {{dataPoint.diastolic}} </td>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Datum </th>
          <td mat-cell *matCellDef="let dataPoint"> {{dataPoint.date}} </td>
        </ng-container>
      
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Tid </th>
          <td mat-cell *matCellDef="let dataPoint"> {{dataPoint.time}} </td>
        </ng-container>

        <!-- sittingLying Column -->
        <ng-container matColumnDef="sittingLying">
          <th mat-header-cell *matHeaderCellDef> Sittande/Liggande </th>
          <td mat-cell *matCellDef="let dataPoint"> {{dataPoint.sittingLying}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    </mat-expansion-panel>

  </div>

</div>

<button mat-raised-button color='primary'>Godkänn och skicka</button>

</div>

