table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  table {
      width: 50%;
  }
  .container {
      background-color: #efefef;
      margin: 20px;
      margin-top: 50px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  body {
      background-color: #f3f3f3;
  }