.container {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto; /* 1. overflow not `visible` */

}

.sidebar-bar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: #efefef;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wide-button {
  width: 100%;
  display: flex;
}

.sidebar-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.example-container {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}