<div fxFill>
<div class="content-container" >
  <div class="content">
    <div *ngIf="!selectedCategory">
      <h2>Här kan du redigera, komplettera och kommentera dina värden.</h2>
      <p>- Granska och redigera varje kategori i sidomenyn</p>
      <p>- Lägg till enga kategorier med egna värden</p>
      <p>- Hämta ytterligare värden från en plattform</p>
      <h3>Om inga ändringar önskas, gå vidare till nästa steg.</h3>
    </div>
    <app-health-list-items
      *ngIf="selectedCategory"
      [selectCategory]="selectedCategory"
      [editable]="true"
      style="text-align: left"
    ></app-health-list-items>
    <button
      class="margin"
      mat-raised-button
      color="primary"
      routerLink="/inspection"
    >
      Nästa steg
    </button>
  </div>

  <div *ngIf="getMode() === 'side'">
    <mat-nav-list>
      <mat-list-item
        (click)="selectCategory(null)"
        [style.background-color]="getTitleSelected()"
      >
        <h2>{{ title }}</h2>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div *ngFor="let category of getUserCategories()">
        <mat-list-item
          (click)="selectCategory(category)"
          [style.background-color]="getBackgroundColor(category)"
        >
          <img class="sidebar-icon" [src]="getCategoryIcon(category)" />
          {{ getCategoryLabel(category) }}
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>

    <button
      class="wide-button"
      style="margin-top: 20px"
      mat-stroked-button
      color="accent"
      (click)="openBottomSheet()"
    >
      <mat-icon>add_box</mat-icon>
      Lägg till egen kategori
    </button>
    <button
      class="wide-button"
      mat-stroked-button
      color="accent"
      routerLink="/sources"
    >
      <mat-icon>add_box</mat-icon>
      Lägg till app-data
    </button>
  </div>
  <div *ngIf="getMode() === 'bottom'">
    <div class="sidebar-bar">
      <div *ngFor="let category of getUserCategories()" [style.background-color]="getBackgroundColor(category)">
        <img
          (click)="selectCategory(category)"
          class="sidebar-icon"
          [src]="getCategoryIcon(category)"
        />
        <mat-divider></mat-divider>
      </div>
    </div>
  </div>
</div>
</div>
<!--





<mat-sidenav-container class="container">
  <mat-sidenav #sidenav #drawer mode="side" opened role="navigation" autosize class="example-sidenav">

    <mat-nav-list>

      <mat-list-item (click)="selectCategory(null)" [style.background-color]="getTitleSelected()">
        <h2>{{title}}</h2>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div  *ngFor="let category of getUserCategories()">
        
        <mat-list-item (click)="selectCategory(category)" [style.background-color]="getBackgroundColor(category)" >
            <img class="sidebar-icon" [src]="(getCategoryIcon(category))"/>
            {{getCategoryLabel(category)}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>

    <button class="wide-button"  style="margin-top: 20px" mat-stroked-button color="accent" (click)="openBottomSheet()">
      <mat-icon>add_box</mat-icon>
      Lägg till egen kategori
    </button>
    <button class="wide-button" mat-stroked-button color="accent" routerLink='/sources' >
      <mat-icon>add_box</mat-icon>
      Lägg till app-data
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    
  </mat-sidenav-content>

</mat-sidenav-container>
-->
