.container {
  height: 100%;
  display: block;
  background: #eee;
  text-align: center;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wide-button {
  width: 100%;
}
