<mat-toolbar color="primary">
  <mat-toolbar-row class="container-1">
    <img
      src="{{assetUrl}}/logo.png"
      style="height:70%; cursor:pointer"
      alt="Region Östergötland logo"
      routerLink="/home"
    />

    <span class="fill-remaining-space"></span>

    <div *ngIf="isAuthenticated()">
      <p matTooltip="{{pnr()}}">
        {{fullName()}}
      </p>
    </div>
    <div *ngIf="isAuthenticated()">
      <button style="margin: 10px"
        mat-raised-button
        (click)="signOut()"
      >
        Logga ut
      </button>
    </div>

    <span class="fill-remaining-space"></span>

    <div>
        <div
          style="margin-right:0;"
          fxFlex
          fxShow="'true'"
          fxHide.lt-sm="'true'"
        >
          <button
            mat-button routerLink="/home"
            matTooltip="Gå till hemskärm"
          >
            <img src="{{assetUrl}}/home.svg" alt="home"/>
          </button>
          <button
            mat-button
            routerLink="/help"
            matTooltip="Användarguide"
          >
            <img src="{{assetUrl}}/help.svg"  alt="help"/>
          </button>
          <button
            mat-button
            routerLink="/info"
            matTooltip="Information"
          >
            <img src="{{assetUrl}}/info.svg"  alt="info"/>
          </button>
        </div>

        <mat-menu #menu="matMenu" class="mobile-menu">
          <button mat-menu-item routerLink="/home">Hem</button>
          <button mat-menu-item routerLink="/help">Hjälp</button>
          <button mat-menu-item routerLink="/info">Information</button>
        </mat-menu>

        <button
          mat-button
          [mat-menu-trigger-for]="menu"
          fxHide="true"
          fxShow.lt-sm
        >
          <mat-icon>menu</mat-icon>
        </button>
    </div>
    <pre></pre>
  </mat-toolbar-row>
</mat-toolbar>
