.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mat-button {
  min-width: 10px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}