<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../assets/logo.png" style="height:70%" alt="***REMOVED*** logo" routerLink="/home"/>

    <span class="fill-remaining-space"></span>
    <div style="margin-right:0;">
      <button mat-button routerLink="/home"><img src="../assets/home.svg"  alt="home"/></button>
      <button mat-button routerLink="/help"><img src="../assets/help.svg"  alt="help"/></button>
      <button mat-button routerLink="/info"><img src="../assets/info.svg"  alt="info"/></button>
      <button mat-button><img src="../assets/person.svg"  alt="profile"/></button>
    </div>
    <pre></pre>
  </mat-toolbar-row>
</mat-toolbar>
