.home-card {
  max-width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  flex-direction: column;
}

.item-card-container {
  margin:20px;
}

.card-height {
  display: flex;
}

.centering {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.date-card {
  height: 100%;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: left;
  align-items: left;
}

.next-button {
  margin: 20px 20px;
}

.top-checkbox {
  font-weight: normal;
  font-size: 12pt;
  display: flex;
  align-content: left;
  margin: 10px 0;
  border-bottom: 0.5px solid black;
}
