<div class="table-container">
  <table
    style="text-align: left; width: 100%"
    class="table"
    mat-table
    [dataSource]="data"
    [trackBy]="trackItem"
  >
  <ng-container>
    <ng-container *ngFor="let key of displayedColumns" matColumnDef="{{key}}">

      <!-- SELECT CHECK BOX  -->
      <div *ngIf="key === 'select'">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleRow(row): null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
    </div>

      <!-- DATA COLUMNS -->
      <div *ngIf="!shouldHide(key)">
        <!-- HEADER FOR INPUT -->
        <th
          mat-header-cell
          *matHeaderCellDef
          [matTooltip]="getCategoryTooltip(key)"
        >
          <div style="display: flex; flex-direction: column;">
            <div>{{ getDataTypeLabel(key) }}</div>
            <div *ngIf="isSmallScreen()">{{ getDataTypeUnit(key) }}</div>
          </div>
        </th>

        <!-- INPUT -->
        <td mat-cell *matCellDef="let dataPoint">
          <div [ngSwitch]="getInputType(key)">
            <mat-form-field *ngSwitchCase="'select'">
              <mat-select
                [value]="dataPoint.get(key)"
                (selectionChange)="dataPoint.set(key, $event.value)"
              >
                <mat-option
                [matTooltip]="'obestämd'"
                matTooltipPosition="left"
                  >-</mat-option
                >
                <mat-option
                  *ngFor="let option of options.get(key)"
                  [value]="option.code"
                  [matTooltip]="option.description"
                  matTooltipPosition="left"
                >
                  {{ option.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngSwitchCase="'text-input'">
              <input
                #textInput
                matInput
                maxlength="1000"
                (change)="dataPoint.set(key, textInput.value)"
                [value]="dataPoint.get(key) ? dataPoint.get(key) : ''"
                placeholder="{{ categorySpec.dataTypes.get(key).label }}"
              />
              <mat-hint align="end">
                {{textInput.value?.length || 0}}/1000
              </mat-hint>
            </mat-form-field>


            <div *ngSwitchCase="'text'">
              {{ getFormattedTextFromPoint(key, dataPoint) }}
            </div>
          </div>
        </td>
      </div>

      <div *ngIf="key === 'dialog'">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let dataPoint">
          <button
            mat-button
            (click)="openEditDialog(dataPoint, isEditable)"
          >
            <mat-icon *ngIf="isEditable && isSmallScreen()">edit</mat-icon>
            <mat-icon *ngIf="!isEditable || !isSmallScreen()">info</mat-icon>
        </button>
        </td>
      </div>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="small">
  <mat-paginator
    [hidePageSize]="isSmallScreen()"
    [pageSizeOptions]="[5, 10, 15, 30, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
