
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav #drawer mode="side" opened role="navigation" autosize class="example-sidenav">

    <mat-nav-list>

      <mat-list-item (click)="selectCategory(None)">
        <h2>{{title}}</h2>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div *ngFor="let category of userCategories">
        <mat-list-item (click)="selectCategory(category)" routerLink="/sidebar/{{category}}">{{getCategoryLabel(category)}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>

    <button class="margin" mat-stroked-button color="accent">Lägg till egen kategori</button>
    <button class="margin" mat-stroked-button color="accent">Lägg till app-data</button>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- här kommer listor vara -->
    <app-health-list-items *ngIf="selectedCategory" [selectedCategory]="selectedCategory"></app-health-list-items>

  </mat-sidenav-content>

</mat-sidenav-container>
