<div class="container"> 
  <div class="progressBar" [ngClass]="{'hidden': getCurrentStep() === 0 }">

    <div class="item-container">
      <button class="dot" *ngIf="getCurrentStep() < 1" routerLink="/sources">1</button>
      <button class="dot done"  *ngIf="getCurrentStep() >= 1" routerLink="/sources">1</button>
      <div *ngIf="!onSmallScreen()"><p style="margin-left: 4px;">Hämtning</p></div>
    </div>

    <div class="item-container">
      <button class="dot" *ngIf="getCurrentStep() < 2">2</button>
      <button class="dot done" *ngIf="getCurrentStep() >= 2" routerLink="/edit">2</button>
      <div *ngIf="!onSmallScreen()"><p>Redigering</p></div>
    </div>

    <div class="item-container">
      <button class="dot" *ngIf="getCurrentStep() < 3" routerLink="/inspection">3</button>
      <button class="dot done" *ngIf="getCurrentStep() >= 3" routerLink="/inspection">3</button>
      <div *ngIf="!onSmallScreen()"><p>Inspektion</p></div>
    </div>

    <div class="item-container">
      <button class="dot" *ngIf="getCurrentStep() < 4">4</button>
      <button class="dot done" *ngIf="getCurrentStep() >= 4">4</button>
      <div *ngIf="!onSmallScreen()"><p>Skickat</p></div>
    </div>
  </div>
</div>