
mat-grid-list.progressBar {
  height: 7%;
  width: 90%;
  text-align: center;
}

mat-grid-tile {
  height: 100%;
}

p {
  size: 10px;
}

button {
 display: inline-block;
 //vertical-align: top;
 text-align:center;
 margin-left: calc(90% / 8);
 margin-right: calc(90% / 16);
 margin-bottom: 0;
 margin-top: 0;
 box-shadow: none !important;
 background-color: #c8cfd1 !important;
}

.done {
  background-color: #aedfd1 !important;
}

.active {
  background-color: #0066B3 !important;
}

.hidden {
  display: none;
}

div.hr-line {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-bottom: 1px solid #7A7A7A;
}
