mat-grid-list.progressBar {
  min-height: 25px;
  text-align: center;
  width: 66%;
  max-width: 1050px;
}

mat-grid-tile {
  height: 30px;
  width: 100%;
}

.container {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 25px;
}

p {
  size: 10px;
}

button {
 display: inline-block;
 //vertical-align: top;
 text-align:center;
 margin-left: calc(90% / 16);
 margin-right: calc(90% / 16);
 margin-bottom: 0;
 margin-top: 0;
 box-shadow: none !important;
 background-color: #c8cfd1 !important;
}

.done {
  background-color: #aedfd1 !important;
}

.hidden {
  display: none;
}

div.hr-line {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-bottom: 1px solid #7A7A7A;
}
