
.wrapper {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-card {
  min-width: 150px;
  max-width: 400px;
  
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.item-card-container {
  margin:20px;
}


.card-height {
  display: flex;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.date-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: left;
  align-items: left;
}

button {
  margin: 20px 20px;
}

.top-checkbox {
  font-weight: normal;
  font-size: 12pt;
  display: flex;
  align-content: left;
  margin: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.23);
}
