<h2>Val av kategorier</h2>
<p>
  Välj vilken typ av data du vill importera och mellan vilka datum
</p>

<div class="column">
  <div class="centering">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.lt-sm="column"
      fxFlex
      class="wrapper"
    >
      <mat-card class="home-card">
        <mat-card-title>
          <mat-checkbox
            class="top-checkbox"
            [(ngModel)]="allChosen"
            (change)="updateAllCategories($event)"
            >Välj alla kategorier</mat-checkbox
          >
        </mat-card-title>
        <mat-card-content *ngFor="let category of categories">
          <section class="example-section">
            <mat-checkbox
              class="example-margin"
              [ngModel]="categoryMap.get(category[0])"
              [matTooltip]="getDescription(category[0])"
              matTooltipPosition="left"
              (change)="updateChosenCategories(category[0], $event)"
              >{{ category[1] }}</mat-checkbox
            >
          </section>
        </mat-card-content>
      </mat-card>

      <mat-card class="home-card">
        <mat-card-content class="date-card">
          <section class="example-section">
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="startDate"
                [matDatepicker]="start"
                placeholder="Startdatum"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="start"
              ></mat-datepicker-toggle>
              <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
          </section>
          <section class="example-section">
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="endDate"
                [matDatepicker]="end"
                placeholder="Slutdatum"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="end"
              ></mat-datepicker-toggle>
              <mat-datepicker #end></mat-datepicker>
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- TODO change routerlink to what it should be (not home)   -->
  </div>
</div>
<button
  mat-raised-button
  color="primary"
  (click)="router.navigateByUrl('/platform-selection')"
>
  Tillbaka
</button>
<button
  [disabled]="!validateSelections()"
  mat-raised-button
  color="primary"
  (click)="getData()"
>
  Nästa steg
</button>
