<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../assets/logo.png" style="height:70%"/>

    <span class="fill-remaining-space"></span>
    <div style="margin-right:0px;">
      <button mat-button routerLink="/home"><img src="../assets/home.svg" /></button>
      <button mat-button><img src="../assets/help.svg" /></button>
      <button mat-button><img src="../assets/info.svg" /></button>
      <button mat-button><img src="../assets/person.svg" /></button>
    </div>
    <pre></pre>
  </mat-toolbar-row>
</mat-toolbar>
