<div class="centering">
<div layout="row" layout-align="center center" class="card-height"
  *ngFor="let source of sources">

  <mat-card class="example-card" (click)="conveyor.selectPlatform(source.id); conveyor.signIn(source.id)" routerLink={{source.routerLink}}>
    <mat-card-header>
      <mat-card-title>{{source.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display:flex;">
      <img src={{source.imageUrl}} style="width:70%" alt={{source.name}}/>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align:center;">
        <button mat-button>Välj</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
</div>
