<div *ngIf="dataSent" class="center">
  <h1 style="text-align: center">
    Data skickat!
  </h1>
  <mat-card style="text-align: left">
    <b>Personnummer:</b> {{ receipt.pnr }}<br />
    <b>EHR-ID:</b> {{ receipt.ehrId }}<br />
    <b>Composition UID:</b> {{ receipt.compUid }}
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    (click)="router.navigateByUrl('/home')"
  >
    Tillbaka hem
  </button>
</div>

<div *ngIf="!dataSent">
<div *ngIf="!hasData()">
  <h1 style="text-align: center">
    Hoppsan!
  </h1>
  <p>Du har inte hämtat eller matat in någon data!</p>
  <button
    mat-raised-button
    color="primary"
    (click)="router.navigateByUrl('/home')"
  >
    Tillbaka hem
  </button>
</div>

<div *ngIf="hasData()">
  <div *ngIf="!dataSent" class="center">
    <p>Kontrollera dina värden innan du skickar in till RÖD</p>
    <div class="panel-container">
      <mat-expansion-panel *ngFor="let category of conveyor.getCategoryIds()"
                           class="panel">
        <mat-expansion-panel-header *ngIf="!isCategoryEmpty(category)">
          <mat-panel-title
            >{{ conveyor.getCategorySpec(category).label }}
          </mat-panel-title>
          <mat-panel-description
            >Antal mätvärden:
            {{ getNumberOfValues(category) }}</mat-panel-description
          >
        </mat-expansion-panel-header>

        <app-data-container [editable]="false" [selectCategory]="category">
        </app-data-container>
      </mat-expansion-panel>
    </div>

    <div style="display: flex; flex-direction: row">
      <button
        mat-raised-button
        color="primary"
        (click)="router.navigateByUrl('edit')"
      >
        Tillbaka
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="sendData()"
      >
        Godkänn och skicka
      </button>
    </div>
  </div>
</div>
