<div class="container-container">
  <div [class]="getContainerClass()">
    <div class="content">
      <div *ngIf="!selectedCategory">
        <h2 style="text-align: center;">
          Här kan du redigera, komplettera och kommentera dina värden.
        </h2>
        <div style="text-align: center">
          <p>Granska och redigera varje kategori i sidomenyn</p>
          <p>Lägg till egna kategorier med egna värden</p>
          <p>Hämta ytterligare värden från en plattform</p>
        </div>
        <h3 style="text-align: center">
          Om inga ändringar önskas, gå vidare till nästa steg.
        </h3>
        <div *ngIf="getMode() === 'side'" class="arrow-container"
            style="text-align: left;">
          <img
            class="arrow"
            stroke="gray"
            fill="gray"
            src="{{assetUrl}}/arrow5.svg"
          />
          <div class="arrow-text">Börja här!</div>
        </div>
      </div>

      <!-- EDITOR / TABLE -->
      <app-data-container
        *ngIf="selectedCategory"
        [selectCategory]="selectedCategory"
        [editable]="true"
        style="text-align: left"
      >
      </app-data-container>

      <div class="next-button-container">
        <button
          class="margin"
          mat-raised-button
          color="primary"
          (click)="router.navigateByUrl('/inspection')"
        >
          Nästa steg
        </button>
      </div>
    </div>

    <div *ngIf="getMode() === 'side'">
      <mat-nav-list style="margin-right: 5%; padding-top: 0">
        <mat-list-item
          (click)="selectCategory(null)"
          [style.background-color]="getTitleSelected()"
        >
          <h2>{{ title }}</h2>
        </mat-list-item>

        <mat-divider></mat-divider>
        <!--- SIDE LIST -->
        <div *ngFor="let category of getUserCategories()">
          <mat-list-item
            (click)="selectCategory(category)"
            [style.background-color]="getBackgroundColor(category)"
          >
            <img class="sidebar-icon" [src]="getCategoryIcon(category)" />
            {{ getCategoryLabel(category) }}
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>

        <mat-list-item (click)="openBottomSheet()">
          <mat-icon class="sidebar-icon">add_box</mat-icon>
          Lägg till kategori
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="router.navigateByUrl('/platform-selection')">
          <mat-icon class="sidebar-icon">add_box</mat-icon>
          Hämta värden från plattform
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div style="height: 64px" *ngIf="getMode() === 'bottom'">
      <div class="sidebar-bar">
        <div class="bottom-bar">
          <!-- BOTTOM LIST -->
          <div *ngFor="let category of getUserCategories()">
            <div [style.background-color]="getBackgroundColor(category)">
              <img
                (click)="selectCategory(category)"
                class="sidebar-icon"
                [src]="getCategoryIcon(category)"
              />
            </div>
            <mat-divider></mat-divider>
          </div>

          <div
            style="display:flex; align-items: center; justify-content: center;"
          >
            <div [style.background-color]="getBackgroundColor(category)">
              <button mat-button (click)="openAddNewDataModal()">
                <mat-icon>add_box</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
