<div class="flex">
  <p>Här kan du välja funktion och intervall</p>
  <button mat-button color="primary" (click)="changeBack()">
      Återställ värden
  </button>
</div>

<div mat-dialog-actions>
  <mat-form-field class="math-interval-select">
      <mat-select placeholder="Funktion" [(value)]="mathFunction">
      <mat-option *ngFor="let option of mathOptions" value="{{option}}">
        {{mathFunctionString(option)}}
      </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="math-interval-select">
      <mat-select placeholder="Intervall" [(value)]="interval">
      <mat-option *ngFor="let option of intervalOptions" value="{{option}}">
        {{periodString(option)}}
      </mat-option>
      </mat-select>
  </mat-form-field>
</div>

<div class="math-dialog-buttons">
  <button mat-button (click)="closeDialog()">
    Avbryt
  </button>
  <button
    mat-button color="primary"
    (click)="calculate(interval, mathFunction)"
  >
    Verkställ
  </button>
</div>
