<h1 style="text-align: center">{{categorySpec && isEditable ? categorySpec.label : 'test'}}</h1>

<mat-tab-group>
<mat-tab *ngFor="let entry of dataList | keyvalue">

<!-- TAB LABEL -->
<ng-template *ngIf="entry.key.width === PeriodWidths.POINT" mat-tab-label>
  Ofiltrerade värden
</ng-template>
<ng-template *ngIf="entry.key.width !== PeriodWidths.POINT" mat-tab-label>
  {{mathOptions.get(entry.key.fn)}} {{intervalOptions.get(entry.key.width)}}
  <button mat-stroked-button
      matTooltip="Ta bort filtrering"
      (click)="removeFilter(entry.key)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>

<app-health-list-items [width]="entry.key.width" [category]="selectedCategory" 
[isEditable]="editable" [dataList]="entry.value"></app-health-list-items>
</mat-tab>
</mat-tab-group>
<div class="flex">
  <button *ngIf="editable" mat-stroked-button color="accent" style="text-align: center;"
  (click)="openDialog()">Lägg till datavärde</button>
  <!-- <button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center;" 
  (click)="openRemovalDialog()">Ta bort datavärden, {{selection.selected.length}} valda</button> -->
  <button *ngIf="editable" mat-stroked-button color="accent" style="text-align: center;"
  (click)="openMathDialog()">Sammanställ punkter</button>
</div>
