button {
  margin: 10px;
  width: 100%;
}

.flex {
  display: flex;
}

.math-interval-select {
  margin-left: 10px;
  margin-right: 10px;
}

.math-dialog-buttons {
  display: flex;
  justify-content: center;
}
