<div class="center">

<p>Kontrollera dina värden innan du skickar in till ***REMOVED***</p>


<mat-expansion-panel *ngFor="let category of categories" class="panel">

  <mat-expansion-panel-header *ngIf="!isCategoryEmpty(category)">
    <mat-panel-title>{{categorySpecs.get(category).label}}</mat-panel-title>
    <mat-panel-description>Antal mätvärden: {{getNumberOfValues(category)}}</mat-panel-description>
  </mat-expansion-panel-header>

  <table mat-table [dataSource]="categoryDataPoints.get(category)" style="text-align: left">

    <ng-container *ngFor="let key of displayedColumns.get(category)" matColumnDef={{key}}>
      <th mat-header-cell *matHeaderCellDef> {{key === 'date' ? 'Datum' : categorySpecs.get(category).dataTypes.get(key).label}} </th>
      <td mat-cell *matCellDef="let dataPoint;">
          {{visibleStrings.get(category).get(dataPoint).get(key)}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns.get(category)"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.get(category);"></tr>
  </table>
</mat-expansion-panel>

  <div style="margin-bottom: 10px">
    <label>Username: <input #username /> </label>
    <label>Password: <input type="password" #password /> </label>
  </div>

  <button mat-raised-button color='primary'
    (click)="authenticate(username.value, password.value); sendData()">
      Godkänn och skicka
  </button>
</div>
