<div class="center">

<p>Kontrollera dina värden innan du skickar in till ***REMOVED***</p>


<mat-expansion-panel *ngFor="let category of categories" class="panel">

  <mat-expansion-panel-header *ngIf="!isCategoryEmpty(category)">
    <mat-panel-title>{{categorySpecs.get(category).label}}</mat-panel-title>
    <mat-panel-description>Antal mätvärden: {{getNumberOfValues(category)}}</mat-panel-description>
  </mat-expansion-panel-header>

  <app-editor [editable]="false" [selectCategory]="category"></app-editor>
</mat-expansion-panel>

  <div style="margin-bottom: 10px">
    <label>Username: <input #username /> </label>
    <label>Password: <input type="password" #password /> </label>
  </div>

  <button mat-raised-button color='primary'
    (click)="authenticate(username.value, password.value); sendData()">
      Godkänn och skicka
  </button>
</div>
