

table {
  width: 100%;
}

.table-container {
  height: 45vh;
  border: 5px solid #efefef;
  
  overflow: auto;
}
button {
  margin: 10px;
  width: 100%;
}

.flex {
  display: flex;
}

.math-interval-select {
  margin-right: 10px;
}

.math-dialog-buttons {
  display: flex;
  justify-content: center;
}

.small {
  background-color: green;
}

.small  .mat-paginator-range-label {
  margin: 0 6px 0 24px !important;
  background-color: green;
}