.table-container {
  box-sizing: border-box;
  border: 5px solid #efefef;
  
  overflow: auto;
}

button {
  margin: 10px;
  width: 100%;
}

.flex {
  display: flex;
}

.small {
  background-color: green;
}

.small  .mat-paginator-range-label {
  margin: 0 6px 0 24px !important;
  background-color: green;
}
