<h1 style="text-align: center">{{categorySpec && isEditable ? categorySpec.label : ''}}</h1>

<table style="text-align: left" mat-table [dataSource]="dataList" [trackBy]="trackItem">

  <ng-container *ngFor="let key of displayedColumns" matColumnDef={{key}}>
    <div *ngIf="key==='select'">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </div>

    <th mat-header-cell *matHeaderCellDef [matTooltip]="key === 'date' ? 'Datum för mätning'  : categorySpec.dataTypes.get(key).description">
      {{key === 'date' ? 'Datum' : categorySpec.dataTypes.get(key).label}}
    </th>
    <td mat-cell *matCellDef="let dataPoint;">
      <div *ngIf="key !== 'date' && key != 'time' && isEditable">

        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.CODED_TEXT">

          <mat-form-field>

            <mat-select [value]="dataPoint.get(key)" (selectionChange)="dataPoint.set(key, $event.value)">
              <mat-option [matTooltip]="'obestämd'" matTooltipPosition='left'>-</mat-option>
              <mat-option *ngFor="let option of options.get(key)" [value]="option.code" [matTooltip]="option.description" matTooltipPosition='left'>
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.TEXT">

          <mat-form-field>
            <input #textInput matInput (change)="dataPoint.set(key, textInput.value)" [value]="dataPoint.get(key) ? dataPoint.get(key) : ''" placeholder={{categorySpec.dataTypes.get(key).label}}>
          </mat-form-field>

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.DATE_TIME">

          {{dataPoint.get(key).toISOString().slice(0,10)}}

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.QUANTITY">

          {{dataPoint.get(key) + ' ' + categorySpec.dataTypes.get(key).unit}}

        </div>
      </div>
      <div *ngIf="key !== 'date' && key != 'time' && !isEditable">
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.CODED_TEXT">

          <div *ngFor="let option of options.get(key)">
            {{option.code === dataPoint.get(key) ? option.label : ''}}
          </div>

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.TEXT">

          {{dataPoint.get(key)}}

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.QUANTITY">

          {{dataPoint.get(key) + ' ' + categorySpec.dataTypes.get(key).unit}}

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.DATE_TIME">

          {{dataPoint.get(key).toISOString().slice(0,10)}}

        </div>
      </div>
      <div *ngIf="key === 'date'">

        {{dataPoint.get('time').toISOString().slice(0,10)}}

      </div>
      <div *ngIf="key === 'time'">

        {{dataPoint.get('time').toTimeString().slice(0,5)}}

      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 30, 50]" showFirstLastButtons></mat-paginator>

<div class="flex">
  <button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center;"
  (click)="openDialog()">Lägg till datavärde</button>
  <button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center;" 
  (click)="openRemovalDialog()">Ta bort datavärden, {{selection.selected.length}} valda</button>
  <button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center;"
  (click)="openMathDialog()">Sammanställ punkter</button>
</div>
<!-- <button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center; width: 100%"
(click)="openDialog()">Lägg till datavärde</button>
<button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center; width: 100%" 
(click)="openRemovalDialog()">Ta bort datavärden, {{selection.selected.length}} valda</button>
<button *ngIf="isEditable" mat-stroked-button color="accent" style="text-align: center; width: 100%"
(click)="openMathDialog()">Sammanställ punkter</button> -->
