<table style="text-align: left" mat-table [dataSource]="data" [trackBy]="trackItem">

  <ng-container *ngFor="let key of getDisplayedColumns(width)" matColumnDef={{key}}>
    <div *ngIf="key==='select'">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle(width) : null"
                      [checked]="selection.hasValue() && isAllSelected(width)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </div>

    <th mat-header-cell *matHeaderCellDef [matTooltip]="!categorySpec.dataTypes.has(key) ? periodDescriptions.get(key)  : categorySpec.dataTypes.get(key).description">
      {{!categorySpec.dataTypes.has(key) ? periodLabels.get(key) : categorySpec.dataTypes.get(key).label}}
    </th>
    <td mat-cell *matCellDef="let dataPoint;">
      <div *ngIf="key !== 'date' && key != 'time' && isEditable && categorySpec.dataTypes.has(key)">

        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.CODED_TEXT">

          <mat-form-field>

            <mat-select [value]="dataPoint.get(key)" (selectionChange)="dataPoint.set(key, $event.value)">
              <mat-option [matTooltip]="'obestämd'" matTooltipPosition='left'>-</mat-option>
              <mat-option *ngFor="let option of options.get(key)" [value]="option.code" [matTooltip]="option.description" matTooltipPosition='left'>
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.TEXT">

          <mat-form-field>
            <input #textInput matInput (change)="dataPoint.set(key, textInput.value)" [value]="dataPoint.get(key) ? dataPoint.get(key) : ''" placeholder={{categorySpec.dataTypes.get(key).label}}>
          </mat-form-field>

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.DATE_TIME">

          {{dataPoint.get(key).getFullYear() + '-' + ('0' + (dataPoint.get(key).getMonth() + 1)).slice(-2) + '-' + ('0' + dataPoint.get(key).getDate()).slice(-2)}}

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.QUANTITY">

          {{displayCorrectNum(dataPoint.get(key)) + ' ' + categorySpec.dataTypes.get(key).unit}}

        </div>
      </div>
      <div *ngIf="key !== 'date' && key != 'time' && !isEditable && categorySpec.dataTypes.has(key)">
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.CODED_TEXT">

          <div *ngFor="let option of options.get(key)">
            {{option.code === dataPoint.get(key) ? option.label : ''}}
          </div>

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.TEXT">

          {{dataPoint.get(key)}}

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.QUANTITY">

          {{displayCorrectNum(dataPoint.get(key)) + ' ' + categorySpec.dataTypes.get(key).unit}}

        </div>
        <div *ngIf="categorySpec.dataTypes.get(key).type === dataTypeEnum.DATE_TIME">

          {{dataPoint.get(key).getFullYear() + '-' + ('0' + (dataPoint.get(key).getMonth() + 1)).slice(-2) + '-' + ('0' + dataPoint.get(key).getDate()).slice(-2)}}

        </div>
      </div>
      <div *ngIf="key === 'date'">

        {{dataPoint.get('time').getFullYear() + '-' + ('0' + (dataPoint.get('time').getMonth() + 1)).slice(-2) + '-' + ('0' + dataPoint.get('time').getDate()).slice(-2)}}

      </div>
      <div *ngIf="key === 'time'">

        {{('0' + dataPoint.get('time').getHours()).slice(-2) + ':' + ('0' + dataPoint.get('time').getMinutes()).slice(-2)}}

      </div>
      <div *ngIf="key === 'period_YEAR'">

        {{dataPoint.get('time').getFullYear()}}

      </div>
      <div *ngIf="key === 'period_MONTH'">

        {{dataPoint.get('time').getFullYear() + '-' + ('0' + (dataPoint.get('time').getMonth() + 1)).slice(-2)}}

      </div>
      <div *ngIf="key === 'period_DAY'">

        {{dataPoint.get('time').getFullYear() + '-' + ('0' + (dataPoint.get('time').getMonth() + 1)).slice(-2) + '-' + ('0' + dataPoint.get('time').getDate()).slice(-2)}}

      </div>
      <div *ngIf="key === 'period_WEEK'">

        {{'v' + dataPoint.get('time').getWeek() + ', ' + dataPoint.get('time').getWeekYear()}}

      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15, 30, 50]" showFirstLastButtons></mat-paginator>
