/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Tahoma, Verdana, Segoe, sans-serif; }

h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
}

h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
}

h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

blockquote {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

pre {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
