/* You can add global styles to this file, and also import other style files */

$light-black: #3a3b3d;

html, body { height: 100vh; }
body {
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: $light-black;
  font-weight: normal;
}

h1 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
  font-style: normal;
  font-variant: normal;
  color: $light-black;
  font-weight: normal;
}

h2 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
  font-style: light;
  font-variant: normal;
  color: $light-black;
  font-weight: normal;
}

h3 {
  font-family: Georgia, Times, "Times New Roman", sans-serif;
  font-style: normal;
  font-variant: normal;
  color: $light-black;
  font-weight: normal;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

blockquote {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

pre {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
