<div></div>
<h1 style="text-align: center">
  Välkommen!
</h1>

<div class="centering" class="container">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.lt-sm="column"
    fxFlex
    class="wrapper"
  >
    <mat-card class="home-card source">
      <mat-card-title
        style="font-family: Georgia, 'Times New Roman', Times, serif"
      >
        Skicka in data
      </mat-card-title>
      <mat-card-content style="display:flex">
        <p>
          Skicka hälsodata till ***REMOVED***s Digitaliseringsplattform.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div
          style="text-align:center; font-family: Tahoma, Verdana, Segoe, sans-serif;"
        >
          <button
            id="home-nav-src"
            mat-button
            routerLink="/sources"
            style="font-family: Tahoma, Verdana, Segoe, sans-serif;"
          >
            Välj källa
            <img src="../../assets/flaticon/diagonal-arrow.png">
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="home-card man">
      <mat-card-title
        style="font-family: Georgia, 'Times New Roman', Times, serif"
      >
        Egen inmatning
      </mat-card-title>
      <mat-card-content>
        <p>
          Lägg till egna värden.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div
          style="text-align:center; font-family: Tahoma, Verdana, Segoe, sans-serif;"
        >
          <button
            id="home-nav-input"
            mat-button
            routerLink="/edit"
            style="font-family: Tahoma, Verdana, Segoe, sans-serif;"
          >
            Egen inmatning
            <img src="../../assets/flaticon/edit.png">
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="home-card help">
      <mat-card-title
        style="font-family: Georgia, 'Times New Roman', Times, serif"
      >
        Hjälp
      </mat-card-title>
      <mat-card-content>
        <p>
          Behöver du en hjälpande hand? Ta en titt på vår guide.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div style="text-align:center;">
          <button
            id="home-nav-help"
            mat-button
            routerLink="/help"
            style="font-family: Tahoma, Verdana, Segoe, sans-serif;"
          >
            Hjälp
            <img src="../../assets/flaticon/question.png">
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
