<h1 style="text-align: center">
Välkommen!
</h1>

<div class="centering">
<div layout="row" layout-align="center center" class="card-height">

  <mat-card class="home-card source" routerLink='/sources'>
    <mat-card-content style="display:flex">
      <p>
        Skicka hälsodata till ***REMOVED***s Digitaliseringsplattform.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div style="align:center;">
        <button id="home-nav-src" mat-button>Välj källa
          <img src="../../assets/flaticon/diagonal-arrow.png">
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card man" routerLink='/edit'>
    <mat-card-content>
      <p>
        Lägg till egna värden.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div style="align:center; display:inline;">
        <button id="home-nav-input" mat-button>Egen inmatning
          <img src="../../assets/flaticon/edit.png">
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="home-card help" routerLink='/help'>
    <mat-card-content>
      <p>
        Behöver du en hjälpande hand?
        Ta en titt på vår guide!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div style="align:center;">
        <button id="home-nav-help" mat-button>Hjälp
          <img src="../../assets/flaticon/question.png">
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
</div>
