<h1 style="text-align: center">
Välkommen!
</h1>

<div class="centering">
<div layout="row" layout-align="center center" class="card-height">

  <mat-card class="example-card">
    <mat-card-content style="display:flex">
      <p>
        Skicka hälsodata till ***REMOVED***s Digitaliseringsplattform.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align:center;">
        <button mat-button routerLink='/sources'>Välj källa</button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <p>
        Har du ingen koll?
        Ta en titt på vår guide!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align:center;">
        <button mat-button>Hjälp</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
</div>
