table {
    width: 100%;
}

button {
  margin: 20px 20px;
}

.auth-form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto-fit 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". ." ". ." ". .";
    grid-column-gap: 5px;
}

.auth-col {
    display:flex;
    flex-direction: column;
}

.auth-form label {
    margin-bottom: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
